@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
}

.account {
  font-size: 22px;
  color: white;
  background-image: linear-gradient(to right, #e91e43, #931d23);
  position: fixed;
  width: 40px;
  padding: 5px 10px;
  text-align: center;
  z-index: 999;
  top: 100px;
  right: 0px;
  cursor: pointer;
}
.wrapper {
  background-image: linear-gradient(to right, #e91e43, #931d23);
  position: fixed;
  width: 100%;
  z-index: 999;
  border-bottom: 5px solid black;
}
.wrapper nav {
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
nav .content {
  display: flex;
  align-items: center;
}
nav .content .links {
  margin-left: 80px;
  display: flex;
}
.content .logo a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.content .links li {
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label {
  display: none;
}
.content .links li a:hover,
.content .links li label:hover {
  background: #f7d853;
}
.wrapper .search-icon,
.wrapper .menu-icon {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}

.wrapper .menu-icon {
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before {
  content: "\f00d";
}

.wrapper .search-box {
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background-image: linear-gradient(to right, #e91e43, #931d23);
  padding: 0 100px 0 15px;
}
.search-box input::placeholder {
  color: #f2f2f2;
}
.search-box .go-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #171c24;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.wrapper input[type="checkbox"] {
  display: none;
}

/* Dropdown Menu code start */
.content .links ul {
  position: absolute;
  background: #171c24;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a {
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px !important;
}
.content .links ul ul {
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li {
  position: relative;
}
.content .links ul li:hover ul {
  top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1250px) {
  .wrapper nav {
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links {
    margin-left: 30px;
  }
  .content .links li a {
    padding: 8px 13px;
  }
  .wrapper .search-box {
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input {
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px) {
  .wrapper .menu-icon {
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before {
    content: "\f00d";
  }
  nav .content .links {
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links {
    left: 0%;
  }
  .content .links li {
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label {
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link {
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul {
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul {
    max-height: 100vh;
  }
  .content .links ul li {
    margin: 7px 20px;
  }
  .content .links ul li a {
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px !important;
  }
}

@media screen and (max-width: 400px) {
  .wrapper nav {
    padding: 0 10px;
  }
  .content .logo a {
    font-size: 27px;
  }
  .wrapper .search-box {
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon {
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input {
    padding-right: 30px;
  }
}

/* Banner */
.banner {
  top: 50px;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("monatics.jpg");
  background-size: cover;
  background-position: center;
}

.banner-content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.banner-content h1 {
  font-size: 80px;
  margin-top: 80px;
}

.banner-content p {
  font-size: 30px;
  margin: 20px auto;
  line-height: 25px;
}

.btn {
  width: 170px;
  height: 50px;
  color: #fff;
  font-size: 20px;
  background: transparent;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

span {
  background: #f7d853;
  height: 100%;
  width: 0;
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

.btn:hover span {
  width: 100%;
}

.btn:hover {
  border: none;
}

.black-bar {
  position: relative;
  height: 50px;
  background: black;
  width: 100%;
}

.promo-message {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.promo-message h1 {
  font-weight: 300;
  font-size: 40px;
}

.promo-message p {
  font-size: 20px;
}

.promo-message span {
  font-size: 22px;
  color: #f30211;
  position: relative;
  background: none;
  text-decoration: underline;
}

/* footer */
footer {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
}

footer p {
  border-top: 2px solid black;
  width: 100%;
}

/* img card */
.container {
  margin: 30px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image {
  background: #50a7ff;
  position: relative;
  flex: 1;
  max-width: 460px;
  height: 300px;
  margin: 20px;
  overflow: hidden;
}

.image img {
  opacity: 0.8;
  position: relative;
  vertical-align: top;
  transition: 0.6s;
  transition-property: opacity;
}

.image .details .school-logo {
  opacity: 0.8;
  width: 50px;
  pointer-events: none;
  position: absolute;
  transform: translate(15%, -220%);
}

.image:hover img {
  opacity: 1;
}

.image .details {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  width: 100%;
  height: 100%;
}

.image .details h2 {
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 70px;
  transition: 0.4s;
  transition-property: transform;
}

.image .details h2 span {
  font-weight: 900;
}

.image:hover .details h2 {
  transform: translateY(-30px);
}

.image .details p {
  margin: 30px 30px 0 30px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  opacity: 0;
  transition: 0.6s;
  transition-property: opacity, transform;
}

.image:hover .details p {
  opacity: 1;
  transform: translateY(-40px);
}

.more {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  bottom: -60px;
  transition: 0.6s;
  transition-property: bottom;
}

.image:hover .more {
  bottom: 0;
}

.more .read-more {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.more .read-more span {
  font-weight: 900;
}

.more .icon-links i {
  color: #000;
  font-size: 20px;
}

.more .icon-links a:not(:last-child) i {
  margin-right: 20px;
}

/* Responsive CSS */

@media (max-width: 1080px) {
  .image {
    flex: 100%;
    max-width: 480px;
  }
}

@media (max-width: 400px) {
  .image .details p {
    font-size: 16px;
  }

  .more .read-more,
  .more .icon-links a i {
    font-size: 18px;
  }
}

/* Login */
input[type="checkbox"] {
  display: none;
}
.login-container {
  z-index: 1001;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 20%);
  display: block;
  background: #fff;
  width: 410px;
  padding: 30px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
#show:checked ~ .login-container {
  display: block;
}
.login-container .close-btn {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 18px;
  cursor: pointer;
}
.login-container .close-btn:hover {
  color: #f30211;
}
.login-container .text {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.login-container form {
  margin-top: 20px;
}
.login-container form .data {
  height: 45px;
  width: 100%;
  margin: 40px 0;
}
form .data label {
  font-size: 18px;
}
form .data input {
  height: 100%;
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid silver;
}
form .data input:focus {
  border-color: #3498db;
  border-bottom-width: 2px;
}
form .forgot-pass {
  margin-top: -8px;
}
form .forgot-pass a {
  color: #f30211;
  text-decoration: none;
}
form .forgot-pass a:hover {
  text-decoration: underline;
}
form .btn {
  margin: 30px 0;
  height: 45px;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}
form .btn .inner {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  z-index: -1;
  background-image: linear-gradient(to right, #931d23, #bf1e33, #931d23);
  transition: all 0.4s;
}
form .btn:hover .inner {
  left: 0;
}
form .btn button {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
form .signup-link {
  text-align: center;
}
form .signup-link a {
  color: #f30211;
  text-decoration: none;
}
form .signup-link a:hover {
  text-decoration: underline;
}

.overlay {
  position: absolute;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

/* image slider */
.img-container {
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #e91e43, #931d23);
}

.slider {
  position: relative;
  background: #000116;
  width: 800px;
  height: 100%;
  min-height: 400px;
  margin: 20px;
  overflow: hidden;
  border-radius: 10px;
}

.slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
}

.slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
}

.slider .slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .slide .info {
  position: absolute;
  color: #222;
  background: rgba(255, 255, 255, 0.3);
  width: 75%;
  margin-top: 50px;
  margin-left: 50px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
}

.slider .slide .info h2 {
  font-size: 2em;
  font-weight: 800;
}

.slider .slide .info p {
  font-size: 1em;
  font-weight: 400;
}

.navigation {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider:hover .navigation {
  opacity: 1;
}

.prev-btn,
.next-btn {
  z-index: 999;
  font-size: 2em;
  color: #931d23;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  cursor: pointer;
}

.prev-btn {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.next-btn {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.navigation-visibility {
  z-index: 999;
  display: flex;
  justify-content: center;
}

.navigation-visibility .slide-icon {
  z-index: 999;
  background: rgba(255, 255, 255, 0.5);
  width: 10px;
  height: 10px;
  transform: translateY(-50px);
  margin: 0 6px;
  border-radius: 150px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.navigation-visibility .slide-icon.active {
  background: #e91e43;
}

@media (max-width: 900px) {
  .slider {
    width: 100%;
  }

  .slider .slide .info {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 500px) {
  .slider .slide .info h2 {
    font-size: 1.8em;
    line-height: 40px;
  }

  .slider .slide .info p {
    font-size: 0.9em;
  }
}
